# Install seaborn library if it wasn't available

In [4]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\tools\anaconda3\envs\lambton\lib\site-packages (0.11.1)
Requirement already satisfied: matplotlib>=2.2 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from seaborn) (3.3.4)
Requirement already satisfied: numpy>=1.15 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from seaborn) (1.20.2)
Requirement already satisfied: pandas>=0.23 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from seaborn) (1.2.4)
Requirement already satisfied: scipy>=1.0 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from seaborn) (1.6.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: six in c:\tools\anaconda3\envs\lambton\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\tools\anaconda3\envs\lambton\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

# Load libraries

In [57]:
import numpy as np
import pandas as pd

# Load the data

In [58]:
data=pd.read_csv('./mtcars.csv')

# Visualize data

In [59]:
data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [60]:
data.corr()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.418684,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.591242,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.433698,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.708223,-0.723097,-0.243204,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.091205,0.440278,0.712711,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.174716,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.418684,-0.591242,-0.433698,-0.708223,0.091205,-0.174716,1.000000,0.744535,-0.229861,-0.212682,-0.656249
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.744535,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.229861,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.212682,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.656249,-0.569607,0.057534,0.274073,1.000000

# Remove non-useful data

In [61]:
numeric_data = data.drop('model', axis = 1)

In [62]:
x_values = numeric_data.drop('mpg', axis = 1).to_numpy()
y_values = numeric_data['mpg'].to_numpy()

# Split training and test data sets

In [63]:
from sklearn.model_selection import train_test_split as split_data
x_train, x_test, y_train, y_test = split_data(x_values, y_values, test_size = 0.3, random_state = 100)

In [64]:
print('Training set size:', len(x_train))
print('Testing set size:', len(x_test))

Training set size: 22
Testing set size: 10

# Normalize X values

In [65]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train_norm = sc.fit_transform(x_train)
x_test_norm = sc.transform(x_test)

# Make linear regression

In [66]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(x_train_norm, y_train)
predict = model.predict(x_test_norm)

# Metrics

In [67]:
from sklearn import metrics  

r_sq = model.score(x_test_norm, y_test)
print('Coefficient of determination:', r_sq)
print('intercept:', model.intercept_)
print('slope:', model.coef_)
print('\nR2: {:0.2f}'.format(metrics.r2_score(y_test, predict)))
print('Mean Absolute Error: {:0.2f}'.format(metrics.mean_absolute_error(y_test, predict)))  
print('Mean Squared Error: {:0.2f}'.format(metrics.mean_squared_error(y_test, predict)))  
print('Root Mean Squared Error: {:0.2f}'.format(np.sqrt(metrics.mean_squared_error(y_test, predict))))

Coefficient of determination: 0.6212927763062942
intercept: 19.58181818181818
slope: [ 1.14338472  1.43533865 -0.34735573  1.03875184 -2.8980198   1.33209292
 -0.34618824  0.4290334   2.71928496 -2.7527498 ]

R2: 0.62
Mean Absolute Error: 2.31
Mean Squared Error: 13.70
Root Mean Squared Error: 3.70