In [11]:
import pandas as pd
is_google_colab = 'google.colab' in str(get_ipython())

Dataset: Kaggle [Mobile price classification](https://www.kaggle.com/iabhishekofficial/mobile-price-classification)

In [12]:
if is_google_colab:
    print('Running on Google CoLab')
    from google.colab import drive
    drive.mount('/content/drive/', force_remount = True)
    mobile_data = pd.read_csv('/content/drive/My Drive/data/mobile-price-classification.csv', header = 0)
else:
    print('Running Locally')
    mobile_data = pd.read_csv('mobile-price-classification.csv')

Running Locally

# Data sampling (Sample, Tail, Head)

In [19]:
mobile_data.sample(5)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
575,1197,1,0.5,1,9,0,20,0.1,129,5,...,214,1710,2885,19,7,14,1,1,1,2
127,1564,0,2.3,0,4,1,25,0.5,189,6,...,1259,1965,1496,6,4,7,1,1,1,1
1193,1130,0,1.8,1,0,0,27,0.9,101,1,...,1495,1579,315,14,5,11,1,1,0,0
571,1627,0,0.9,1,9,1,32,0.1,180,6,...,52,1082,3206,12,6,16,1,1,0,3
428,1197,0,1.3,0,3,1,20,0.5,149,6,...,649,1629,1797,19,5,4,1,1,1,1

In [20]:
mobile_data.head(3)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2

In [84]:
# equals to head(3)
mobile_data.iloc[:3]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2

In [86]:
# equals to head(3) and iloc[:3]
mobile_data.loc[:2]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2

In [21]:
mobile_data.tail(2)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [82]:
# equals to tail(2)
mobile_data.iloc[-2:]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [92]:
# loc DO NOT WORKS WITH NEGATIVE VALUES
# mobile_data.loc[-2:]

# Data description

In [74]:
# shape return rows and columns
mobile_data.shape

(2000, 21)

In [93]:
# shape return rows and columns
print('Rows: ', mobile_data.shape[0])
print('Columns:', mobile_data.shape[1])

Rows:  2000
Columns: 21

In [104]:
mobile_data.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [105]:
len(mobile_data)

2000

# Data query

## Get specific columns

In [38]:
mobile_data.head(2)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2

In [30]:
mobile_data["battery_power"].head(2)

0     842
1    1021
Name: battery_power, dtype: int64

In [39]:
mobile_data.head(2)["battery_power"]

0     842
1    1021
Name: battery_power, dtype: int64

## Get specific values from a row and column

In [34]:
mobile_data.loc[0]

battery_power     842.0
blue                0.0
clock_speed         2.2
dual_sim            0.0
fc                  1.0
four_g              0.0
int_memory          7.0
m_dep               0.6
mobile_wt         188.0
n_cores             2.0
pc                  2.0
px_height          20.0
px_width          756.0
ram              2549.0
sc_h                9.0
sc_w                7.0
talk_time          19.0
three_g             0.0
touch_screen        0.0
wifi                1.0
price_range         1.0
Name: 0, dtype: float64

In [75]:
mobile_data.iloc[-1]

battery_power     510.0
blue                1.0
clock_speed         2.0
dual_sim            1.0
fc                  5.0
four_g              1.0
int_memory         45.0
m_dep               0.9
mobile_wt         168.0
n_cores             6.0
pc                 16.0
px_height         483.0
px_width          754.0
ram              3919.0
sc_h               19.0
sc_w                4.0
talk_time           2.0
three_g             1.0
touch_screen        1.0
wifi                1.0
price_range         3.0
Name: 1999, dtype: float64

In [54]:
mobile_data.iloc[0]

battery_power     842.0
blue                0.0
clock_speed         2.2
dual_sim            0.0
fc                  1.0
four_g              0.0
int_memory          7.0
m_dep               0.6
mobile_wt         188.0
n_cores             2.0
pc                  2.0
px_height          20.0
px_width          756.0
ram              2549.0
sc_h                9.0
sc_w                7.0
talk_time          19.0
three_g             0.0
touch_screen        0.0
wifi                1.0
price_range         1.0
Name: 0, dtype: float64

In [46]:
# dataframe[column][row]
mobile_data["battery_power"][0]

842

In [47]:
# loc [row][column name]
mobile_data.loc[0]['battery_power']

842.0

In [48]:
# loc [row][column]
mobile_data.loc[0][0]

842.0

In [53]:
# iloc [row][column]
mobile_data.iloc[0][0]

842.0

In [49]:
# iloc[row, column]
mobile_data.iloc[0, 0]

842

In [ ]:
# DOES NOT WORK
# mobile_data.iloc[0,'battery_power']

## Get specific ranges

In [64]:
# loc[from:to]
mobile_data.loc[1:3]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2

In [65]:
# loc[:to] equals to loc[0:to]
mobile_data.loc[:3]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2

In [66]:
# loc[from:] equals to loc[from:last row]
mobile_data.loc[1995:]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [70]:
# Gets column ranges from indexes
mobile_data.loc[1][1:5]

blue           1.0
clock_speed    0.5
dual_sim       1.0
fc             0.0
Name: 1, dtype: float64

In [71]:
# Gets column ranges from indexes
mobile_data.loc[1][:5]

battery_power    1021.0
blue                1.0
clock_speed         0.5
dual_sim            1.0
fc                  0.0
Name: 1, dtype: float64

In [73]:
# Gets column ranges from indexes
mobile_data.loc[1][10:]

pc                 6.0
px_height        905.0
px_width        1988.0
ram             2631.0
sc_h              17.0
sc_w               3.0
talk_time          7.0
three_g            1.0
touch_screen       1.0
wifi               0.0
price_range        2.0
Name: 1, dtype: float64

## Iterate for the data

In [115]:
for i, row in mobile_data.sample(2).iterrows():
    print('Row number: ',i)
    print('Battery Power:', row['battery_power'])
    print('Length: ', len(row))
    print('-----')

Row number:  36
Battery Power: 589.0
Length:  21
-----
Row number:  1681
Battery Power: 807.0
Length:  21
-----

In [113]:
for i, column in enumerate(mobile_data.columns):
    print(i, '=>', column)

0 => battery_power
1 => blue
2 => clock_speed
3 => dual_sim
4 => fc
5 => four_g
6 => int_memory
7 => m_dep
8 => mobile_wt
9 => n_cores
10 => pc
11 => px_height
12 => px_width
13 => ram
14 => sc_h
15 => sc_w
16 => talk_time
17 => three_g
18 => touch_screen
19 => wifi
20 => price_range