This lab used the Amphibians dataset from UCI:
[https://archive.ics.uci.edu/ml/datasets/Communities+and+Crime](https://archive.ics.uci.edu/ml/datasets/Communities+and+Crime)

**Abstract**: Communities within the United States. The data combines socio-economic data from the 1990 US Census, law enforcement data from the 1990 US LEMAS survey, and crime data from the 1995 FBI UCR.

In [1]:
# Provides the dataset column names, as they are not part of the CSV file.
column_names = ['state','county', 'community', 'communityname', 'fold', 'population', 'householdsize', 'racepctblack',
'racePctWhite', 'racePctAsian','racePctHisp','agePct12t21','agePct12t29','agePct16t24','agePct65up',
'numbUrban','pctUrban','medIncome','pctWWage','pctWFarmSelf','pctWInvInc','pctWSocSec','pctWPubAsst',
'pctWRetire','medFamInc','perCapInc','whitePerCap','blackPerCap','indianPerCap','AsianPerCap','OtherPerCap',
'HispPerCap','NumUnderPov','PctPopUnderPov','PctLess9thGrade','PctNotHSGrad','PctBSorMore','PctUnemployed',
'PctEmploy','PctEmplManu','PctEmplProfServ','PctOccupManu','PctOccupMgmtProf','MalePctDivorce','MalePctNevMarr',
'FemalePctDiv','TotalPctDiv','PersPerFam','PctFam2Par','PctKids2Par','PctYoungKids2Par','PctTeen2Par','PctWorkMomYoungKids',
'PctWorkMom','NumIlleg','PctIlleg','NumImmig','PctImmigRecent','PctImmigRec5','PctImmigRec8','PctImmigRec10','PctRecentImmig',
'PctRecImmig5','PctRecImmig8','PctRecImmig10','PctSpeakEnglOnly','PctNotSpeakEnglWell','PctLargHouseFam','PctLargHouseOccup',
'PersPerOccupHous','PersPerOwnOccHous','PersPerRentOccHous','PctPersOwnOccup','PctPersDenseHous','PctHousLess3BR','MedNumBR',
'HousVacant','PctHousOccup','PctHousOwnOcc','PctVacantBoarded','PctVacMore6Mos','MedYrHousBuilt','PctHousNoPhone',
'PctWOFullPlumb','OwnOccLowQuart','OwnOccMedVal','OwnOccHiQuart','RentLowQ','RentMedian','RentHighQ','MedRent',
'MedRentPctHousInc','MedOwnCostPctInc','MedOwnCostPctIncNoMtg','NumInShelters','NumStreet','PctForeignBorn',
'PctBornSameState','PctSameHouse85','PctSameCity85','PctSameState85','LemasSwornFT','LemasSwFTPerPop','LemasSwFTFieldOps',
'LemasSwFTFieldPerPop','LemasTotalReq','LemasTotReqPerPop','PolicReqPerOffic','PolicPerPop','RacialMatchCommPol',
'PctPolicWhite','PctPolicBlack','PctPolicHisp','PctPolicAsian','PctPolicMinor','OfficAssgnDrugUnits','NumKindsDrugsSeiz',
'PolicAveOTWorked','LandArea','PopDens','PctUsePubTrans','PolicCars','PolicOperBudg','LemasPctPolicOnPatr','LemasGangUnitDeploy',
'LemasPctOfficDrugUn','PolicBudgPerPop','ViolentCrimesPerPop']

# Provides additional criteria to identify the missing values, in this case they are recorded with a question mark.
missing_value_formats = ["?"]

# Provides the URL of the dataset in CSV format.
url="https://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data"

In [2]:
import pandas as pd

# Reads the file directly from the URL, and specifies with missing values identifiers are expected.
df=pd.read_csv(url, sep = ',', na_values = missing_value_formats)
# Assigns the column names to the dataset.
df.columns = column_names

In [3]:
# Describes the dataframe, here we can see that the count of records for each column is different, so there are missing values in some columns.
df.describe()

,state,county,community,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
count,1993.000000,820.000000,817.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,...,1993.000000,1993.000000,1993.000000,318.000000,318.000000,318.000000,318.000000,1993.000000,318.000000,1993.000000
mean,28.693929,58.826829,46188.336597,5.496237,0.057526,0.463462,0.179709,0.753643,0.153698,0.144009,...,0.065203,0.232840,0.161666,0.163428,0.076824,0.697956,0.440252,0.093939,0.195252,0.237998
std,16.395117,126.420560,25299.726569,2.872650,0.126903,0.163731,0.253480,0.244079,0.208929,0.232549,...,0.109480,0.203142,0.229111,0.215038,0.140413,0.213981,0.406434,0.240335,0.164948,0.233042
min,1.000000,1.000000,70.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,9.000000,25065.000000,3.000000,0.010000,0.350000,0.020000,0.630000,0.040000,0.010000,...,0.020000,0.100000,0.020000,0.040000,0.020000,0.620000,0.000000,0.000000,0.110000,0.070000
50%,34.000000,23.000000,48090.000000,5.000000,0.020000,0.440000,0.060000,0.850000,0.070000,0.040000,...,0.040000,0.170000,0.070000,0.080000,0.030000,0.750000,0.500000,0.000000,0.155000,0.150000
75%,42.000000,59.500000,66660.000000,8.000000,0.050000,0.540000,0.230000,0.940000,0.170000,0.160000,...,0.070000,0.280000,0.190000,0.197500,0.060000,0.840000,1.000000,0.000000,0.220000,0.330000
max,56.000000,840.000000,94597.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Identifies if there are rows with missing values

In [4]:
# Performs a simple query to check if there is any missing value in the whole dataframe
print(df.isnull().values.any())

True

In [5]:
# Doing a sample on the dataframe, we can see that there are missing values, identified as NaN.
df.sample(10)

,state,county,community,communityname,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
354,36,69.0,28640.0,Genevacity,2,0.01,0.45,0.16,0.83,0.06,...,0.01,0.28,0.03,NaN,NaN,NaN,NaN,0.00,NaN,0.28
317,39,35.0,9246.0,Brooklyncity,2,0.00,0.24,0.02,0.96,0.06,...,0.01,0.23,0.23,NaN,NaN,NaN,NaN,0.00,NaN,0.04
266,29,NaN,NaN,Overlandcity,2,0.01,0.36,0.12,0.88,0.08,...,0.01,0.34,0.07,NaN,NaN,NaN,NaN,0.00,NaN,0.17
1704,34,27.0,58110.0,Pequannocktownship,9,0.00,0.62,0.01,0.97,0.10,...,0.02,0.15,0.16,NaN,NaN,NaN,NaN,0.00,NaN,0.05
1426,48,NaN,NaN,MountPleasantcity,8,0.00,0.54,0.40,0.46,0.01,...,0.03,0.10,0.00,NaN,NaN,NaN,NaN,0.00,NaN,0.15
211,12,NaN,NaN,OaklandParkcity,2,0.03,0.19,0.25,0.75,0.10,...,0.02,0.35,0.16,NaN,NaN,NaN,NaN,0.00,NaN,0.66
716,29,NaN,NaN,BlueSpringscity,4,0.05,0.60,0.05,0.94,0.06,...,0.04,0.21,0.03,NaN,NaN,NaN,NaN,0.00,NaN,0.09
1837,40,NaN,NaN,OklahomaCitycity,10,0.70,0.35,0.31,0.62,0.14,...,1.00,0.06,0.05,0.68,0.15,0.7,0.5,0.36,0.12,0.57
1473,25,21.0,25065.0,Franklintown,8,0.02,0.61,0.01,0.98,0.06,...,0.08,0.07,0.29,NaN,NaN,NaN,NaN,0.00,NaN,0.03
1496,35,NaN,NaN,Portalescity,8,0.00,0.52,0.04,0.59,0.05,...,0.01,0.18,0.00,NaN,NaN,NaN,NaN,0.00,NaN,0.12

## Identify how many null values are in each column

In [6]:
# Calculates the number of missing values per column
column_check = df.isnull().sum()
# Prints the columns that have missing values and their count
print(column_check[column_check != 0])

county                  1173
community               1176
OtherPerCap                1
LemasSwornFT            1675
LemasSwFTPerPop         1675
LemasSwFTFieldOps       1675
LemasSwFTFieldPerPop    1675
LemasTotalReq           1675
LemasTotReqPerPop       1675
PolicReqPerOffic        1675
PolicPerPop             1675
RacialMatchCommPol      1675
PctPolicWhite           1675
PctPolicBlack           1675
PctPolicHisp            1675
PctPolicAsian           1675
PctPolicMinor           1675
OfficAssgnDrugUnits     1675
NumKindsDrugsSeiz       1675
PolicAveOTWorked        1675
PolicCars               1675
PolicOperBudg           1675
LemasPctPolicOnPatr     1675
LemasGangUnitDeploy     1675
PolicBudgPerPop         1675
dtype: int64

## Performs cleaning by filling the null values.

In [7]:
empty_counties_before = df['county'].isnull().sum()

In [8]:
# Suppose that for our analysis we need the county to have a value, for example 9999 for unspecified.
# We use the fillna function indicating that the change must be done inside the same dataframe
df['county'].fillna(9999, inplace = True)

In [9]:
empty_counties_after = df['county'].isnull().sum()

In [10]:
print('Empty counties before:',empty_counties_before)
print('Empty counties after:',empty_counties_after)

Empty counties before: 1173
Empty counties after: 0

In [11]:
empty_PolicCars_before = df['PolicCars'].isnull().sum()

In [12]:
# Suppose that for our analysis we need the Police Cars value, but it cannot be zero, so we will use the mean to fill the missing values
df['PolicCars'].fillna(df['PolicCars'].mean(), inplace = True)

In [13]:
empty_PolicCars_after = df['PolicCars'].isnull().sum()

In [14]:
print('Empty PolicCars before:',empty_PolicCars_before)
print('Empty PolicCars after:',empty_PolicCars_after)

Empty PolicCars before: 1675
Empty PolicCars after: 0

# Performs cleaning by removing rows with missing values.

In [15]:
# Drops the rows where all the values are missing. (In this case there is none)
clean_df = df.dropna(how = 'all')

## Performs cleaning by removing columns with misssing values

In [16]:
clean_df = clean_df.dropna(axis = 1, how = 'any')

In [17]:
clean_df.sample(10)

,state,county,communityname,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,...,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,LandArea,PopDens,PctUsePubTrans,PolicCars,LemasPctOfficDrugUn,ViolentCrimesPerPop
1697,12,9999.0,FortLauderdalecity,9,0.22,0.23,0.55,0.54,0.05,0.13,...,0.20,0.48,0.65,0.52,0.09,0.40,0.26,0.190000,1.0,0.59
1415,6,9999.0,Claremontcity,8,0.04,0.67,0.10,0.73,0.52,0.19,...,0.40,0.49,0.55,0.56,0.03,0.25,0.04,0.163428,0.0,0.15
1796,25,1.0,Bournetown,10,0.01,0.47,0.03,0.95,0.04,0.02,...,0.68,0.51,0.46,0.56,0.12,0.03,0.08,0.163428,0.0,0.16
294,34,23.0,Sayrevilleborough,2,0.04,0.48,0.06,0.90,0.18,0.07,...,0.68,0.74,0.70,0.71,0.04,0.18,0.50,0.163428,0.0,0.12
134,34,3.0,NewMilfordborough,1,0.01,0.41,0.03,0.86,0.43,0.09,...,0.42,0.87,0.85,0.80,0.00,0.58,0.49,0.163428,0.0,0.06
1757,42,21.0,Richlandtownship,9,0.00,0.51,0.02,0.97,0.05,0.00,...,0.95,0.74,0.72,0.89,0.05,0.05,0.05,0.163428,0.0,0.22
1809,34,23.0,NewBrunswickcity,10,0.05,0.77,0.58,0.35,0.24,0.36,...,0.49,0.32,0.30,0.52,0.01,0.67,0.69,0.030000,0.5,0.62
305,48,9999.0,Baytowncity,2,0.09,0.54,0.23,0.59,0.04,0.43,...,0.66,0.48,0.70,0.77,0.09,0.17,0.01,0.163428,0.0,0.23
808,16,9999.0,Rexburgcity,5,0.01,1.00,0.01,0.94,0.09,0.06,...,0.41,0.13,0.00,0.00,0.01,0.28,0.03,0.163428,0.0,0.02
1192,42,3.0,Scotttownship,6,0.01,0.25,0.01,0.97,0.08,0.01,...,0.90,0.70,0.85,0.84,0.01,0.36,0.66,0.163428,0.0,0.02

In [18]:
# Performs a simple query to check if there is any missing value in the new dataframe
print(clean_df.isnull().values.any())

False